{% extends "database_base.html" %}

{% block extra_styles %}
<style type="text/css">
    .submit {
        margin: 10px 0;
    }

    input, textarea {
        margin-left: 5px;
    }

    textarea {
        height: 40px;
        width: 200px;
    }

    #toolbar {
        background-color: #ddddff;
        padding: 5px;
    }
    
    #toolbar * {
        vertical-align: middle;
    }

    .hidden {
        display: none;
    }

</style>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    $(function () {
            $('#add').click(function (e) {
                e.preventDefault();
                key = $('#id_key').val();
                value = $('#id_value').val();

                if (key && value) {
                    var hidden = $('<input type="hidden" name="'+key+'" />').val(value);
                    $('#docform .hidden').append(hidden);
                    $('#docfields').append('<tr class="item"><td class="key">'+key+'</td><td class="value">'+value+'</td><td><a class="remove" href="javascript:;">del</a></td></tr>');
                }
            });

            $('.remove').click(function (e) {
                e.preventDefault();
                $(this).parents('.item').remove();
            });

            $('.delete').click(function (e) {
                e.preventDefault();
                var key = $(this).parents('.item').find('.key').text();
                var value = $(this).parents('.item').find('.value').text();
                $('#docform #id_'+key).remove();
                if (colname) {
                    $.post('/database/collection/{{ colname }}/document/{{ oid }}/del', {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'key': key,
                            'value': value,
                            }, function (data) {
                                    if (data['deleted'] === true) {
                                        $(this).parents('.item').remove();
                                    } else {
                                        $('.error').remove();
                                        $(this).after('<span class="error">cannot create collection</span>');
                                    }
                                }
                            );
                    }
                });
    });
</script>
{% endblock %}
{% block content %}
<h2>{{ colname.capitalize }} Documents</h2>
<table>
    <thead>
        <tr>
            <th style="width: 200px">Key</th>
            <th>Value</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody id="docfields">
        {% if doc %}
        {% for k, v in doc.iteritems %}
        <tr class="item">
            <td class="key">{{ k }}</td>
            <td class="value">{{ v }}</td>
            <td><a class="delete" href="#">del</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    <tfoot>
        {% comment %}分页{% endcomment %}
    </tfoot>
</table>
<div id="toolbar">
    <input id="id_key" class="normal-input" type="text" />
    <textarea id="id_value" class="normal-input"></textarea>
    <a id="add" href="javascript:;"><span class="plus">+</span></a>
</div>
<form id="docform" action="" method="POST">{% csrf_token %}
    <div class="hidden">
        {% if oid %}
        <input type="hidden" name="_id" value="{{ oid }}" />
        {% endif %}
        {% if doc %}
        {% for k, v in doc.iteritems %}
        <input type="hidden" name="{{ k }}" value="{{ v }}" />
        {% endfor %}
        {% endif %}
    </div>
    <input class="submit" type="submit" value="确定" />
</form>
{% endblock %}
